.storycards {
	margin-top: 4em;
	padding-bottom: 4em;
	background-color: #f9f8f5;
}
.storycards__heading {
	border-top: 2px solid #333;
	padding: 3em 0;
	margin: 0;
	text-align: center;
}
.story-card-large {
	background: #fff;
	border: 2px solid #222;
	padding: 0;
	margin-bottom: 20px;
	position: relative;
	&__heading{
		margin-top: 10px;
		& a {
			color: #222;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
	&__image {
		display: block;
	}
	&__content {
		padding: 25px;
		@media (min-width: $break-medium) {
			padding: 0;
		}
	}
	&__summary{
		color: #777;
		font-style: italic;
		font-size: 16px;
		br{
			display: none;
		}
	}
	@media (min-width: $break-medium) {
		padding: 25px;
	}
}

/* Category */
.story-card-large__category {
	width: 60px;
	height: 60px;
	background-color: rgba(255,255,255,.8);
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	text-indent: -999em;
	background-image: url(../images/story-categories.png);
	background-repeat: no-repeat;
	background-position: center -10px;
	&--Video {
		background-position: center -90px;
	}
	&--Gallery {
		background-position: center -170px;
	}
	@media (min-width: $break-medium) {
		width: 80px;
		height: 80px;
		&--Video {
			background-position: center -80px;
		}
		&--Gallery {
			background-position: center -160px;
		}
	}
}

/* Image Link */
.story-card-large__image-link {
	display: block;
	position: relative;
	overflow: hidden;
	&:after {
		content:'';
		overflow: hidden;
		text-indent: -9999rem;
		font-size: 0;
		line-height: 0;
		background: #ffcd00;
		background: -moz-linear-gradient(-45deg, #ffcd00 0%, #222222 100%);
		background: -webkit-linear-gradient(-45deg, #ffcd00 0%,#222222 100%);
		background: linear-gradient(135deg, #ffcd00 0%,#222222 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd00', endColorstr='#222222',GradientType=1 );
		-webkit-transition: opacity,.25s,ease-out;
		-moz-transition: opacity,.25s,ease-out;
		-o-transition: opacity,.25s,ease-out;
		transition: opacity .25s ease-out;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .25;
	}
	&:hover, &:focus {
		&:after {
			opacity: 0;
		}
	}
}


/* Line Button */
$line-width: 2px;
$border-color: #222;

.line-btn {
	background: white;
	color: #222;
	display: inline-block;
	font-family: $heading-font;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1;
	overflow: hidden;
	padding: 11px 12px 9px 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in;
	&:before,
	&:after,
	.line-btn__inner:before,
	.line-btn__inner:after {
		content: '';
		position: absolute;
		background-color: $border-color;
		transition: 0.3s ease-in;
	}
	&:before {
		top: 0;
		left: 0;
		width: 0;
		height: $line-width;
	}
	&:after {
		height: $line-width;
		top: auto;
		right: 0;
		bottom: 0;
		left: auto;
		width: 0;
	}
	&__inner:before {
		top: 0;
		bottom: 0;
		right: 0;
		left: auto;
		width: $line-width;
		height: 0;
	}
	&__inner:after {
		left: 0;
		right: 0;
		top: auto;
		bottom: 0;
		width: $line-width;
		height: 0;
	}
}
/* hover, focus */
.line-btn:hover,
.line-btn:focus {
	color: #222;
	padding-left: 12px;
	&:before, &:after {
		width: 100%;
	}
	.line-btn__inner:before,
	.line-btn__inner:after {
		height: 100%;
	}
}


.story-card--mini {
	padding: 1.5em 0;
	@media(min-width: $break-large) {
		padding: 2em 0;
	}
}
.story-card--mini {
	@media(min-width: $break-large) {
		border-right: 1px solid #ddd;
		margin: 1em 0;
	}
}
.story-card--3up .col-lg-4:nth-child(1) .story-card--mini,
.story-card--3up .col-lg-4:nth-child(2) .story-card--mini {
	@media(min-width: $break-large) {
		padding-right: 15px;
	}
}
.story-card--3up .col-lg-4:nth-child(3) .story-card--mini {
	@media(min-width: $break-large) {
		border-right: none;
	}
}
.story-card {
	&__title {
		margin: 0;
	}
	&__title-anchor {
		color: #333;
		&:hover, &:focus {
			color: #555;
			text-decoration: underline;
		}
	}
}
