.story-tile{
	display: block;
	box-shadow: inset -1px -74px 74px 2px rgba(0,0,0,0.80);
	background-size: cover;
	position: relative;
	padding: 15px;
	background-color: #333;
	background-position: center center;
	&__header{
		position: absolute;
		bottom: 15px;
		transition: bottom .2s ease-in-out;
		width: calc(100% - 30px);
		&--large{
			bottom: 15px;
		}
		@media (min-width: $break-medium) {
			bottom: 30px;
			width: calc(100% - 60px);
		}
	}
	&__title{
		color: white;
		margin: 0;
		font-size: 33px;

		&--small{
			font-size: 26px;
		}
	}
	&__container{
		margin-bottom: 75px;
	}

	&--small{
		height: 350px;
	}

	&--large{
		height: 350px;
		@media (min-width: $break-large) {
			height: 700px;
		}

	}
	@media (min-width: $break-medium) {
		padding: 30px;
	}
}
.story-tile:hover,
.story-tile:focus {
	& .story-tile__header {
		bottom: 20px;
	}
}